body{
    background-color: black;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif'
}
hr{
    margin-top: 5em;
    margin-bottom: 5em;
}
header{
    display: flex;
    align-items: center;
    padding-left: 6em;
    padding-bottom: 1em;
    background-color: transparent;
    position: absolute; /* Position the header at the top of the viewport */
    z-index: 100; /* Adjust the z-index value as needed */
    top: 0;
    left: 0;
}
#logo{
    transition: transform 0.2s ease;
}
#logo{
    transform: scale(1.1);
}
#toolbar{
    margin-left: 0.5em;
}
#toolbar a{
    font-size: 1.22em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 2.1em;
    text-decoration: none;
    color:rgb(255, 255, 255);
    transition: font-size 0.3s ease;
}
#toolbar a:hover{
    font-size: 1.29em; /* Change the scale factor to your desired size */
}
#landing{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), black), url('../images/background-photo.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    filter: brightness(70%);
}

#phrase{
    margin-top: 3em;
    font-size: 1.5em;
    text-align: center;
    width: 24em;
    font-family: 'Times New Roman', Times, serif;
}

#scroll{
    font-size: 1.3em;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

#arrow{
    font-size: 3.5em;
    animation: bounce 2s infinite;
}
#arrow-container{
    padding: 3em;
    padding-left: 30em;
    padding-right: 30em;
}
#scroll-container{
    padding-top: 2em;
    padding: 2em; /* Increase the padding to expand the hit area */
    margin: 1em;
    margin-top: 25.8em;
    display: flex; /* Use Flexbox */
    flex-direction: column; /* Stack the elements vertically */
    align-items: center; /* Align items along the center horizontally */
    justify-content: center;
    transition: transform 0.2s ease;
    position: absolute;
}
#scroll-container:hover{
    transform: scaleY(1.08);
}
#link-scroll{
    text-decoration: none;
}
#whoAmI{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 170vh; /* Set a specific height, or adjust as needed */
}
#bio-container{
    padding-top: 1em;
    max-width: 45em; /* Set a max-width to limit the content */
    padding: 15em;
}
#bio-container h1{
    font-size: 3.5em;
}
.bio{
    font-size: 1.5em;
}

#experience h1{
    font-size: 3.5em;
    text-align: center;
}

#xp-container{
    display: flex;
    flex-direction: column; /* Set the direction of the flex items to column */
    align-items: flex-start; /* Align flex items to the left side */
}

.xp {
    width: 38em; /* Set width to limit the content */
    margin-left: 2em; /* Optional: Add some margin between the "xp" divs */
    margin-right: 2em;
    margin-top: 1em;
    font-size: 1.5em;
    padding: 1em;
    margin-bottom: 1em;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    color: white;
}

.xp:nth-child(odd) {
    /* Apply styles to odd-numbered "xp" divs (1, 3, 5, ...) */
    align-self: flex-start; /* Align to the left side */
}

.xp:nth-child(even) {
    /* Apply styles to even-numbered "xp" divs (2, 4, 6, ...) */
    align-self: flex-end; /* Align to the right side */
    text-align: right; /* Optional: Align the text to the right */
}

.number{
    font-size: 1.8em;
}

#skillset{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#skillset h1{
    font-size: 3.5em;
}

#skills-about{
    font-size: 1.8em;
    width: 31em;
    text-align: center;
}

#skillsContainer{
    display: flex;
}

.topic{
    font-size: 2em;
}

li{
    font-size: 1.4em;
}

.skills-cont{
    margin: 1em;
    padding: 1em;
}

#theGospel h1{
    font-size: 3.5em;
    text-align: center;
}
#theGospel {
    padding: 3em 0;
}

.gospel-container {
    display: flex;
    flex-direction: column; /* Set the direction of the flex items to column */
    align-items: flex-start;
}

.gospel {
    padding: 1em;
    margin-bottom: 2em;
    margin-right: 2em;
    margin-left: 2em;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    color: white;
    width: 58em;
}

/* Apply alternating styles to the sections */
.gospel:nth-child(odd) {
    /* Align left for odd-numbered sections */
    align-self: flex-start;
    text-align: left;
}

.gospel:nth-child(even) {
    /* Align right for even-numbered sections */
    align-self: flex-end;
    text-align: right;
}

/* Style h2 tags inside the sections */
.gospel h2 {
    font-size: 1.8em;
    margin-bottom: 0.5em;
}

.gospel p {
    font-size: 1.5em;
}

#gallery-section h1{
    justify-content: center;
    text-align: center;
    font-size: 3.5em;
}

#gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#gallery img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
#vertical{
    grid-row: span 2; /* This will make the vertical image span two rows */
}
.patern{

    object-fit: cover;
}


#contactMe{
    text-align: center;
    font-size: 3.5em;
}

#contactMe-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3em 0;
}

#contacts-container {
    display: flex;
    justify-content: space-between;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 2em;
}

.contact-column {
    display: flex;
    flex-direction: column;
}

.contact{
    transition: transform 0.2s ease;
}
.contact:hover{
    transform: scale(1.1);
}

/* Style the contact links */
.contact a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    margin-bottom: 1em;
}

/* Add some space between the icon and text */
.contact i {
    margin-right: 0.5em;
}

a span{
    font-size: 1.5em;
}

a i{
    font-size: 2em;
}

#linkedin-icon{
    color: blue;
}
#email-icon{
    color: blue;
}
#spotify-icon{
    color: green;
}

#stack-icon{
    color: orange;
}
#youtube-icon{
    color: red;
}

@media screen and (min-width: 1100px) {
    #sidebar{
        display: none;
    }
    #menu-toggle{
        display: none;
    }
}

@media screen and (max-width: 1100px) {
    #toolbar {
        display: none;
    }
    
    header{
        justify-content: space-between;
        width: 844px;
        /*background-color: black;*/
        display: flex;
        align-items: center;
        padding-bottom: 1em;
        background-color: transparent;
        position: absolute; /* Position the header at the top of the viewport */
        z-index: 100; /* Adjust the z-index value as needed */
        top: 0;
    }

    section{
        width: 920px;
    }

    #logo-container {
        flex: 0.7;
    }

    #toogle-icon{
        font-size: 3.5em;
    }

    #logo{
        width: 230px;
        height: 230px;
    }

    #phrase{
        margin-top: 0;
        padding-bottom: 22em;
        font-size: 1.8em;
    }


    #landing{
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), black), url('../images/background-photo-vertical.jpg');
        background-attachment: fixed;
        background-size: cover;
        background-position: 50% 100%;
        background-repeat: no-repeat;
        height: 100vh;
        width: 930px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        filter: brightness(70%);
    }
    #scroll-container{
        width: 50%;
        padding-top: 35em;
        padding-left: 10em;
        padding-right: 10em;
    }
    #arrow-container{
        width: 50%;
        padding: 0;
    }
    #arrow{
        font-size: 6em;
    }

    .gospel, .xp{
        width: 62%;
    }

    #whoAmI{
        height: max-content;
    }
    #bio-container{
        max-width: fit-content;
        height: fit-content;
        padding-right: 0;
        padding-left: 0;
        padding-top: 8em;
        padding-bottom: 0;
    }
    .bio{
        font-size: 2.4em;
        width: 700px;
    }

    #skillsContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 3em 0;
        
    } 
    #skills-about{
        font-size: 2em;
        text-align: center;
        width: 700px;
    }
    .skill-row{
        display: flex;
        flex-direction: row;
    }
    li{
        font-size: 2em;
    }

    hr{
        width: 880px;
        align-items: center;
    }
    button{
        background-color: transparent;
        color: white;
        text-decoration: none;
        border-color: transparent;
    }
    #sidebar{
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 200; /* Stay on top */
        top: 0;
        left: 0;
        background-color: #000000; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; 
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #column-1{
        display: flex;
        flex-direction: column;
        padding-left: 1em;
    }
    #sidebar a{
        text-decoration: none;
        color: white;
        font-size: 2.5em;
        padding-top: 1em;
        
    }
    #column-2{
        padding: 2em;
    }
    #column-2 button{
        font-size: 3em;
    }
}
  