body{
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
hr{
    margin-top: 5em;
    margin-bottom: 5em;
}
header{
    display: flex;
    align-items: center;
    margin-left: 3.5em;
    padding-left: 1em;
    padding-bottom: 1em;
    background-color: transparent;
    position: absolute; /* Position the header at the top of the viewport */
    z-index: 100; /* Adjust the z-index value as needed */
    top: 0;
    left: 0;
}
#toolbar{
    margin-left: 0em;
}
#toolbar a{
    font-size: 1.22em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 1.67em;
    text-decoration: none;
    color:rgb(255, 255, 255);
    transition: font-size 0.3s ease;
}
#toolbar a:hover{
    font-size: 1.29em; /* Change the scale factor to your desired size */
}
#landing{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), black), url('../images/background-photo.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    filter: brightness(70%);
}

#phrase{
    margin-top: 3em;
    font-size: 1.5em;
    text-align: center;
    width: 24em;
}

#scroll{
    font-size: 1.3em;
}
#arrow{
    font-size: 2.8em;
    color: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
}
#scroll-container{
    padding-top: 2em;
    margin-top: 1em;
    display: flex; /* Use Flexbox */
    flex-direction: column; /* Stack the elements vertically */
    align-items: center; /* Align items along the center horizontally */
    justify-content: center;
    transition: transform 0.3s ease;
    position: absolute;
    transform: translateY(100%);
}
#scroll-container:hover{
    transform: scale(1.1);
}
#whoAmI{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 170vh; /* Set a specific height, or adjust as needed */
}
#bio-container{
    padding-top: 1em;
    max-width: 45em; /* Set a max-width to limit the content */
    padding: 15em;
}
#bio-container h1{
    font-size: 3.5em;
}
.bio{
    font-size: 1.5em;
}

#experience h1{
    font-size: 3.5em;
    text-align: center;
}

#xp-container{
    display: flex;
    flex-direction: column; /* Set the direction of the flex items to column */
    align-items: flex-start; /* Align flex items to the left side */
}

.xp {
    width: 38em; /* Set width to limit the content */
    margin-left: 2em; /* Optional: Add some margin between the "xp" divs */
    margin-right: 2em;
    margin-top: 1em;
    font-size: 1.5em;
    padding: 1em;
    margin-bottom: 1em;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    color: white;
}

.xp:nth-child(odd) {
    /* Apply styles to odd-numbered "xp" divs (1, 3, 5, ...) */
    align-self: flex-start; /* Align to the left side */
}

.xp:nth-child(even) {
    /* Apply styles to even-numbered "xp" divs (2, 4, 6, ...) */
    align-self: flex-end; /* Align to the right side */
    text-align: right; /* Optional: Align the text to the right */
}

.number{
    font-size: 1.8em;
}

#skillset{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#skillset h1{
    font-size: 3.5em;
}

#skills-about{
    font-size: 1.8em;
    width: 31em;
    text-align: center;
}

#skillsContainer{
    display: flex;
}

.topic{
    font-size: 2em;
}

li{
    font-size: 1.4em;
}

.skills-cont{
    margin: 1em;
    padding: 1em;
}

#theGospel h1{
    font-size: 3.5em;
    text-align: center;
}
#theGospel {
    padding: 3em 0;
}

.gospel-container {
    display: flex;
    flex-direction: column; /* Set the direction of the flex items to column */
    align-items: flex-start;
}

.gospel {
    padding: 1em;
    margin-bottom: 2em;
    margin-right: 2em;
    margin-left: 2em;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    color: white;
    width: 58em;
}

/* Apply alternating styles to the sections */
.gospel:nth-child(odd) {
    /* Align left for odd-numbered sections */
    align-self: flex-start;
    text-align: left;
}

.gospel:nth-child(even) {
    /* Align right for even-numbered sections */
    align-self: flex-end;
    text-align: right;
}

/* Style h2 tags inside the sections */
.gospel h2 {
    font-size: 1.8em;
    margin-bottom: 0.5em;
}

.gospel p {
    font-size: 1.5em;
}
